:root{
    --fontSize: 18px;

    --fontColor: black;
    --fontColorHover: white;
    
    --background: white;
    --backgroundHover: black;
    --backgroundCheck: gray;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
    font-size: var(--fontSize);
}

/* TAGS */
/* -------------------- -------------------- -------------------- */
/*a*/
a{
    text-decoration: none;
    color: var(--fontColor);
}
/* -------------------- */

/*body*/
body{
    background-color: blanchedalmond;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* -------------------- */

/*footer*/
footer{
    text-align: center;
    background-color: var(--background);
    border-top: 1px solid salmon;
    padding: 10px;
    margin-top: auto;
}
/* -------------------- */

/*main*/
main{
    text-align: center;
    padding: 20px;
}
/* -------------------- */

/*nav*/
nav{
    background-color: var(--background);
    height: 50px;
    border-bottom: 1px solid salmon;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav svg{
    cursor: pointer;
}
.nav-container{
    height: 100%;
}
#menu-check, 
.nav-label, 
.submenu-check{
    display: none;
}
.nav-menu{
    display: flex;
    justify-content: center;
    height: 100%;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
nav ul li a{
    padding: 10px 20px;
    height: 100%;
    transition: background-color .5s, color .2s;
    display: flex;
    align-items: center;
}
.nav-submenu{
    position: absolute;
    top: 49px;
}
.nav-submenu li a{
    height: 0;
    padding: 0 20px;
    color: transparent;
    transition: background-color .5s, color .2s;
    visibility: hidden;
}
.submenu-close{
    display: none;
}
/* -------------------- */

/*svg*/
svg{
    width: 24px;
    height: 24px;
}
svg:hover{
    opacity: 0.8;
}
/* -------------------- */

/*MEDIA*/
/* -------------------- -------------------- -------------------- */
/*Menu movil*/
@media screen and (max-width: 480px) {
    #menu-check:checked+label+.nav-menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@media screen and (min-width: 480px) and (max-width: 720px) {
    nav ul li a{
        width: 50%;
    }
    #menu-check:checked+label+.nav-menu {
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    }
}
@media screen and (max-width: 720px) {
    nav ul li{
        flex-direction: column;
        align-items: unset;
    }
    nav ul li a{
        justify-content: space-between;
    }

    .nav-menu{
        background-color: var(--background);
        justify-content: unset;
    }
    .nav-label {
        display: flex;
        padding: 10px;
        height: 100%;
    }
    .nav-label svg {
        transform: scale(2);
    }
    #menu-close{
        display: none;
    }
    .nav-menu {
        flex-direction: column;
        position: fixed; 
        top: 50px;
        width: 100%;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: clip-path 1s ease-in-out;
    }

    #menu-check:checked+label #menu-open {
        display: none;
    }
    #menu-check:checked+label #menu-close {
        display: block;
    }
    
    .submenu-label svg{
        transform: scale(2);
    }
    .nav-submenu{
        position: unset;
        text-indent: 10px;
    }

    #submenu-check2:checked+a,
    #submenu-check4:checked+a{
        background-color: var(--backgroundCheck);
        color: var(--fontColorHover);
        fill: var(--fontColorHover);
    }
    #submenu-check2:checked+a .submenu-open,
    #submenu-check4:checked+a .submenu-open{
        display: none;
    }
    #submenu-check2:checked+a .submenu-close,
    #submenu-check4:checked+a .submenu-close{
        display: block;
    }
    #submenu-check2:checked+a+.nav-submenu li a,
    #submenu-check4:checked+a+.nav-submenu li a{
        visibility: visible;
        height: unset;
        padding: 10px 20px;
        color: unset;
    }
}
@media screen and (min-device-width: 720px) and (max-width: 720px) {
    nav ul li a{
        background: 
        linear-gradient(90deg,#fff 50%,var(--backgroundHover) 0) calc(100% - var(--_p,0%))/200% 100%,
        linear-gradient(var(--backgroundHover) 0 0) 0% 50%/var(--_p,0%) 100% no-repeat;

        -webkit-background-clip: text,padding-box;
        background-clip: text,padding-box;
        
        transition: background .5s, color .7s;
    }
    .nav-submenu li a{
        transition: background .5s, color .7s;
    }
    nav ul li a:hover {
        --_p: 100%;
        color: var(--fontColorHover) !important;
        fill: var(--fontColorHover);
    }
}

@media screen and (min-width: 721px) {
    nav ul li a:hover{
        background-color: var(--backgroundHover);
        color: var(--fontColorHover) !important;
        fill: var(--fontColorHover);
    }
    .nav-item:hover .submenu-open{
        display: none;
    }
    .nav-item:hover .submenu-close{
        display: block;
    }
    .nav-item:hover .nav-submenu li a{
        visibility: visible;
        height: unset;
        padding: 10px 20px;
        color: unset;
    }
}
/* -------------------- -------------------- */

/* -------------------- -------------------- -------------------- */
